<meta charset="utf-8"><style class="fallback">body{visibility:hidden;}</style>

                       **{{basics.name}}**
                    {{basics.email}}
                    {{basics.website}}
                    {{#basics.profiles}} [{{network}}]({{url}}) | {{/basics.profiles}}
{{#basics.summary}}

{{basics.summary}}
{{/basics.summary}}


                     

Skills
===================================================================

{{#skills}}
**{{name}} ({{level}})**{{#keywords}}, {{.}}{{/keywords}}

{{/skills}}


References
==================================================================

{{#references}}
> "{{reference}}"
>   --{{name}}, {{position}}

{{/references}}

Publications
==================================================================

{{#publications}}
+ [*{{name}}*]({{url}})
  <br>{{publisher}}, {{releaseDate}}
{{#summary}}
  <br>{{summary}}
{{/summary}}

{{/publications}}

Projects
===================================================================

{{#projects}}
+ {{#url}}[*{{name}}*]({{url}}){{/url}}{{^url}}*{{name}}*{{/url}}{{#startDate}} ({{startDate}}{{#endDate}}–{{endDate}}{{/endDate}}){{/startDate}}
  <br>{{description}}
{{#highlights}}
  <br>{{.}}
{{/highlights}}

{{/projects}}

Experience
==================================================================
{{#work}}
{{startDate}} to {{endDate}}
: *{{position}} at {{name}}*{{#location}}, {{location}}{{/location}}
: <br>{{summary}}
{{#highlights}}
: {{.}}<br/>
{{/highlights}}


{{/work}}

Education
===================================================================

{{#education}}
{{studyType}}&nbsp;({{endDate}})
: *{{institution}}* {{area}}
{{#score}}
: <br>Score: {{score}}
{{/score}}

{{/education}}

Certifications
==================================================================

{{#certificates}}
- {{#url}}[**{{name}}**]({{url}}){{/url}}{{^url}}**{{name}}**{{/url}}
  <br>{{issuer}}, {{date}}

{{/certificates}}

Service
==================================================================

{{#volunteer}}
{{startDate}} to {{endDate}}
: *{{position}} at {{organization}}*
{{#url}}
: <br>[{{organization}}]({{url}})
{{/url}}
: <br>{{summary}}
{{#highlights}}
: {{.}} <br />
{{/highlights}}


{{/volunteer}}


<style>
dt { width: 110px; font-family: arial}
dd { padding-bottom: 1px }
.md h1:before, .md h2:before { content: none }
.md ul li.plus { list-style-type: none; margin-left: -40px; padding-bottom: 10px}
.md table.table { margin-left: -15px; padding-bottom: 20px }
.md table.table tr { vertical-align: top }
.md table.table th { color: #000; background: none; border: none; padding-bottom: 2px }
.md table.table tr:nth-child(even) { background: none }
.md table.table td { background: none; border: none; padding-bottom: 0px; padding-top: 2px }
.md table {page-break-inside: auto}
em.asterisk { font-style: normal; font-weight: bold }
</style>
<script>markdeepOptions = {definitionStyle:'short', tocStyle:'short'}</script>

<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://casual-effects.com/markdeep/latest/markdeep.min.js?"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
